name: E-Commerce CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Ambil Kodingan dari Repo
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2. Setup Docker & Jalankan Container
    - name: Start Containers
      run: |
        docker compose up -d --build
        echo "Waiting..."
        sleep 60

    # 3. Setup Laravel
    - name: Setup Laravel
      run: |
        cp main-app/.env.example main-app/.env
        docker compose exec -T laravel-app chmod -R 777 storage bootstrap/cache
        docker compose exec -T laravel-app composer install --no-interaction --prefer-dist
        docker compose exec -T laravel-app php artisan key:generate
        
        echo "Running Migrations..."
        docker compose exec -T laravel-app php artisan migrate --force
        docker compose exec -T laravel-app php artisan install:api
        
        # --- TAMBAHAN PENTING (PERMISSION FIX) ---
        docker-compose exec -T laravel-app chmod -R 777 storage bootstrap/cache
        
        # Install dependencies & Prepare DB
        docker-compose exec -T laravel-app composer install --no-interaction --prefer-dist
        docker-compose exec -T laravel-app php artisan key:generate
        
        # --- TAMBAHAN PENTING (WAIT FOR DB) ---
        # Memaksa Laravel nunggu sampai DB benar-benar siap baru migrate
        echo "Running Migrations..."
        docker-compose exec -T laravel-app php artisan migrate --force
        docker-compose exec -T laravel-app php artisan install:api
